.register-container {
    background-color: rgb(248, 248, 248);
    margin: 15%;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgb(0, 0, 0);
    width: 100%;
    max-width: 400px;
    margin-top: 265px;
}

.register-container h2 {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 5%;
    color: #eb1010;
    font-size: 28px;
    font-family:  'Arial', sans-serif;
}

.conrtainer {
    margin: auto;
    align-items: center;
}