{% extends 'base.html' %}

{% block title %}Vehicle Parking App - Admin Parking Lots{% endblock %}


{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container justify-content-center">
    <a class="navbar-brand font-weight-bold text-white" href="/admin">Welcome to Admin</a>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav text-center">
        <li class="nav-item"><a class="nav-link" href="/admin">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/admin/admin_users">Users</a></li>
        <li class="nav-item"><a class="nav-link" href="/search">Search</a></li>
        <li class="nav-item"><a class="nav-link" href="/admin/summary">Summary</a></li>
        <li class="nav-item"><a class="nav-link" href="/editprofile">Edit Profile</a></li>
        <li class="nav-item"><a class="nav-link" href="/login">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}




{% block content %}
<div class="container-fluid text-center font-weight-bold py-3 shadow mt-5" style="background-color: aquamarine;">
  <h3 class="mb-0">Manage Parking Lots</h3>
</div>
<div class="d-flex justify-content-center mt-3">
    <a href="/admin/add_lot" class="btn btn-primary mb-3 text-center">Add New Lot</a>
</div>
<table class="table table-bordered">
  <tr><th>ID</th><th>Name</th><th>Max Spots</th><th>Actions</th></tr>
  {% for lot in lots %}
  <tr>
    <td>{{ lot.id }}</td>
    <td>{{ lot.prime_location_name }}</td>
    <td>{{ lot.maximum_number_of_spots }}</td>
    <td>
      <a href="/admin/lot_details/{{ lot.id }}" class="btn btn-info btn-sm">Details</a>
      <a href="/admin/deletelot/{{ lot.id }}" class="btn btn-danger btn-sm">Delete</a>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
